  .icon {
    vertical-align: middle;
    cursor: pointer;
    line-height: 1px;
    font-size: 2vw;
  }
  .header-right {
    padding-right: 2vw;
  }
  .icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
  }
  .icon, .icon_header {
    margin-right: 5px;
  }
  
  .close_icon {
    color:#d50000;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    font-size:4vmin;
  }
  
  .grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 0.8fr 1.5fr 1fr;
    grid-template-rows: 0fr 3fr;
    grid-template-areas:
      'header header header'
      'main1 main2 main3';
  }
  
  /* Main  */  
  
  /* Content1  */  
  .main-container1 {
    grid-area: main1;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-self:flex-end;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden;
    padding: 1.2vw;
    background-color: #ffffff;
  }
  .input-wrapper {
    width: 100%;
    height: 6vh;
    border: none;
    overflow: hidden;
    border-radius: 10px;
    padding: 0 15px;
    /* box-shadow: 0 5px 10px #ddd; */
    background-color: #eaf0ff;
    display: flex;
    align-items: center;
  }
  
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
  }
  
  input:focus {
    outline: none;
  }
  
  #search-icon {
    color: #00000075;
  }

  .results-list {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
  }

  .datefilter{
    position: relative;
    display: flex;
    direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content:space-between;
    padding: 0 1vw;
  }
  .datefilter .icons{
    right: 1vw;
  }

  .calendar{
    position: absolute;
    top: 4vh;
    left: 4vw;
    z-index: 1;
  }

  .dropdown-content{
    position: absolute;
    top: 4vh;
    left: 8vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    border-radius: 5px;
    width: 60%;
    height: auto;
    overflow: hidden;
    background-color: #74c0c3;
  }

  .dropdown-content .option{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    width: 100%;
    cursor:pointer;
  }

  .option:hover{
    background-color: #256e6b;
    font-weight: 600;
    color: white;
  }

  .queue{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
    justify-items:flex-start;
    justify-content:flex-start;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-width:2px;
    border-style:solid;
    border-color: #cde5e8;
    overflow: hidden;
    padding-bottom: 10px;
  }

  .queue .list{
    display : flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .list::-webkit-scrollbar {
    display: none;  
  }

  .list-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.3vw 1vw;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  .list-item .name{
    width: 80%;
    overflow: hidden;
    font-size: 1.2vw;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    padding-left: 10px;
  }
  div.name:hover {
    overflow: visible;
  }
  .list-itemactive{
    background-color: #cde5e8;
  }

  .list-container :hover{
    background-color: #cde5e8;
  }

  .indicator {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
  }
  .active{
    background-color: #74c398 !important;
  }
  .time{
    width: 10%;
    font-size: 2vw;
    color: #ffd11a;
  }
  .sliding-switch {
    position: relative;
    width: 90%;
    height: 75%;
    background-color: #74c0c3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .slider {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    font-weight:600;
    background: #383C44;
    background-color: #e9f6fa;
    border: 2px solid #74c0c3;
    transition: transform 0.4s ease;
  }
  
  .sliding-switch.on .slider {
    transform: translateX(100%);
  }
  
  .sliding-switch.off .slider {
    transform: translateX(0);
  }
  
  .label {
    flex: 1;
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
    color: white;
    transition: opacity 0.3s ease;
  }
  
  .sliding-switch.on .label.off {
    opacity: 0;
  }
  
  .sliding-switch.off .label.on {
    opacity: 0;
  }

  /* if no selected */
  .noselected{
    grid-area: main2,main3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  /* Content2  */  
  .main-container2 {
    grid-area: main2;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-self:flex-start;
    justify-content:flex-start;
    align-items:flex-start;
    overflow: hidden;
    padding:1.2vw 0px;
    background-color: #ffffff;
  }

  .head{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: flex-end;
  }

  .record{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-width:2px;
    border-style:solid;
    border-color: #cde5e8;
    background-color: #f7f9fc;
  }
  .buttons{
    display: flex;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-items: center;
    justify-content:flex-end;
    margin-top: 2vh;
  }
  .hoverbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 8vh;
    padding:0px 12px 0px 12px;
    border: solid 2px;
    border-color: #095d7e;
    border-radius: 10px;
    color:  #095d7e;
    font-size: clamp(10px, 1.5vw, 24px);
    transition-duration: 0.4s;
  }
  .hoverbutton:hover svg {
    transform: translateX(10px);
    color: var(--hovered-color);
    transition: 0.3s ease-out;
  }
  .hoverbutton:hover {
    border-color: #74c0c3;
    background-color: #74c0c3;
    color: white;
  }
  /* Content3  */  
  .main-container3 {
    grid-area: main3;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-end;
    overflow: hidden;
    padding: 2vh 0.5vw;
    background-color: #ffffff;
  }

  .doctorstatus{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 5vh;
    padding-right: 3vw;
    font-size : 1.5vw;
    font-weight: 400;
    color:#000000;
    letter-spacing: -0.01em;
  }

  .heart-container {
    --heart-color: #74c0c3;
    position: relative;
    width: 4vh;
    height: 4vh;
    margin: 0 1vw;
    transition: .3s;
  }
  
  .heart-container .checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .heart-container .svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heart-container .svg-outline,
          .heart-container .svg-filled {
    fill: var(--heart-color);
    position: absolute;
  }
  
  .heart-container .svg-filled {
    animation: keyframes-svg-filled 1s;
    display: none;
  }
  
  .heart-container .svg-celebrate {
    position: absolute;
    animation: keyframes-svg-celebrate .5s;
    animation-fill-mode: forwards;
    display: none;
    stroke: var(--heart-color);
    fill: var(--heart-color);
    stroke-width: 2px;
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-filled {
    display: block
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-celebrate {
    display: block
  }
  
  @keyframes keyframes-svg-filled {
    0% {
      transform: scale(0);
    }
  
    25% {
      transform: scale(1.2);
    }
  
    50% {
      transform: scale(1);
      filter: brightness(1.5);
    }
  }
  
  @keyframes keyframes-svg-celebrate {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      filter: brightness(1.5);
    }
  
    100% {
      transform: scale(1.4);
      opacity: 0;
      display: none;
    }
  }

  .doctorstatus .online-indicator {
    display: inline-block;
    width: 1vw;
    height: 1vw;
    margin-top: 1.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw; 
    background-color: #0fcc45;
    border-radius: 50%;
    position: relative;
  }
  .doctorstatus span.blink {
    display: block;
    width: 1vw;
    height: 1vw;
    background-color: #0fcc45;
    opacity: 0.7;
    border-radius: 50%;
    animation: blink 1s linear infinite;
  }
  @keyframes blink {
    100% { transform: scale(2, 2); 
            opacity: 0;
          }
  }
  .blocks{
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content:flex-start;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 100%;
      height: 100%;
      row-gap: 1vh;
      margin-bottom: 1vh;
      padding-right: 1vw;
      padding-left: 0.5vw;
  }
  .blocks::-webkit-scrollbar {
    width: 20px;  
  }
  .blocks::-webkit-scrollbar-thumb {
    background-color: #74c0c3;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
    border: 3px solid #cde5e8;
  }
  .blocks::-webkit-scrollbar-track {
    background-color: #cde5e8;
    border-radius: 100px;
  }
  
  .CompactCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px 10px;
    border-radius: 8px;
    border-width:2px;
    border-style:solid;
    border-color: #74c0c3;
    width: 100%;
    min-height: 35%;
    height: auto;
    max-height: 24vh;
    cursor: pointer;
    overflow: hidden;
  }
  .CompactCard:hover {
    box-shadow:#74c0c3 2px 2px 20px;
  }

  .CompactCard .heading {
    height: 10%;
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
  }


  .ExpandedCard {
    position: absolute;
    width: 60%;
    height: 70vh;
    z-index: 9;
    left: 13rem;
    top: 8rem;
    z-index:100;
    border: none;
    border-radius: 1rem;
    /* border: #74c0c3 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    padding: 2vh 1vw;
    overflow: hidden;
    background-color: #fff;
    box-shadow: #e9f6fa 0px 8px 240px, rgba(17, 17, 26, 0.5) 0px 16px 240px, #e9f6fa 0px 24px 240px;
  }
  .ExpandedCard .card-title{
    display: flex;
    width: 100%;
    height: 12%;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    overflow: hidden;
  }

  .ExpandedCard .card-title h4{
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.8vw;
    font-weight: 600;
    letter-spacing: -0.01em;
  }

  .ExpandedCard .buttons{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content:space-between;
  }

  .ExpandedCard .btn {
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: -0.01em;
    border: 2px solid #095D7E;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    color: #095D7E;
  }
  
  .ExpandedCard .btn:hover {
    background-color: #095D7E;
    color: white;
  }

  .ExpandedCard .Chatbox{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    height: 70%;
    width: 100%;
    font-size: 1vw;
    color: #4A4A4A;
    font-weight: 400;
    letter-spacing: -0.01em;
  }

  .Chatbox::-webkit-scrollbar {
    display: none;  
  }
  
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
  }
  
  /* End Main  */
  
  
  /* Medium <= 992px */
    
  @media screen and (max-width: 992px) {
  
    #sidebar {
      display: none;
    }

    .menu {
      width: 8vw;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  /* Small <= 768px */
    
  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 1.5fr 1fr;
      grid-template-rows: 0fr 3fr;
      grid-template-areas:
        'header header header'
        'main1 main2 main3';
    }
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }

    .menu {
      width: 8vw;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }
  